<header class = "header d-flex align-items-center m-1 mx-4">
  <div class = "flex-column align-items-center justify-content-center">
    <div class = "logo-container mr-auto justify-center">
      <h1 class>MTG Database</h1>
    </div>
    <div class = "button">
      <button routerLink="profile">Profile</button>
      <button routerLink="library">Library</button>
      <button routerLink="wishlist">Wishlist</button>
      <button routerLink="card-list">Card List</button>
    </div>
  </div>
</header>
