.filter-container {
  background-color: #40465b; /* Lighter shade of background */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 1rem;
}

.set-filter {
  margin-top: 1rem;
}

.form-check-label {
  cursor: pointer;
}
