h1 {
  text-align: center;
}

.buttons {
  display: flex;
  padding: 1rem;
  margin-top: auto;
  background-color: #40465b;
  color: #bbb;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #1a2023;
  color: white
}

.img-thumbnail {
  object-fit: cover; width: 100%; height: 100%;
}
